body {
  font-family: 'Asap', sans-serif;
  font-weight: bold;
}

.top-nav {
  /*background banner*/
  background-color: #1AB385;
  position: fixed;
  height: 96px;
  left: 0px;
  top: 0px;
  right: 0px;

  /*navi inside*/
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;

}

@media (max-width:1000px) {
  .top-nav-button {
    display: none;
  }
  .login-button {
    width: 50px;
  }
}

@media(min-width:1000px)  {
  .dropdown{
    display: none;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-weight: bold;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-top: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #38524a;
}

.LOGO-div{
  display: flex;         
  margin-top: 10px;              
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 73px;
  text-decoration: none;
  margin-left: 20px;

  color: #FFFFFF;
}


.top-nav-button{
  color: white;
  margin-right: 40px;
  text-decoration: none;
}


.top-nav-button:hover {
  color: #d4d4d4;
}

.login-button {
  color: #FFFFFF;
  height: 41px;
  width: 110px;
  align-items: center;

  background: #000000;
  border-radius: 20px;
  position: absolute;
  right: 10px;
  top: 30px;
  cursor: pointer;
}

#body-box {
  margin: 150px 20px 0px 20px;
  height: 350px;
  right: 0;
  background-color: #9c9c9c;
}