body {
  font-family: 'Asap', sans-serif;
  font-weight: bold;
}

.top-nav {
  /*background banner*/
  background-color: #1AB385;
  position: fixed;
  height: 96px;
  left: 0px;
  top: 0px;
  right: 0px;

  /*navi inside*/
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;

}

@media (max-width:1000px) {
  .top-nav-button {
    display: none;
  }
  .login-button {
    width: 50px;
  }
}

@media(min-width:1000px)  {
  .dropdown{
    display: none;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-weight: bold;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-top: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #38524a;
}

.LOGO-div{
  display: flex;         
  margin-top: 10px;              
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 73px;
  text-decoration: none;
  margin-left: 20px;

  color: #FFFFFF;
}


.top-nav-button{
  color: white;
  margin-right: 40px;
  text-decoration: none;
}


.top-nav-button:hover {
  color: #d4d4d4;
}

.login-button {
  color: #FFFFFF;
  height: 41px;
  width: 110px;
  align-items: center;

  background: #000000;
  border-radius: 20px;
  position: absolute;
  right: 10px;
  top: 30px;
  cursor: pointer;
}

.text-main {
  padding-top: 100px;
}

#text-welcom-paragraph {
  margin-top: 50px;
  background-color: #D5FFD4;
  left: 0px;
  right: 0px;
  text-align: justify;
}

.h1-title {
  font-size: 76px;
  font-weight: 2000px;
}

#text-welcom-paragraph {
  font-weight: bold;
  height: 317px;
}

.p-body {
  font-size: 30px;
}

#p-welcome {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  display: inline-flex;
  text-align: center;
  color: #0F712A;
  font-weight: bold;
}

#welcome-box {
  text-align: center;
  font-weight: bold;
  overflow: auto;
}

#feature-box {
  margin-top: 100px;
  display: flex;
  overflow:auto;
}


#p-feature {
  margin-top: -50px;
  margin-left: 100px;
}

#app-box {
  align-items: center;
  background-color:  #D5FFD5;
  display: inline-flex;
  margin-top: 200px;
  margin-left: 30%;
  right: 0;
  height: 300px;
  color: #0F712A;
  overflow: auto;
  text-overflow: ellipsis;
}


#choose-box {
  margin-top: 200px;
  margin-left: 20%;
  display: inline-flex;
  margin-right: 20%;
  margin-bottom: 200px;
}

#contact-us-box {
  color: white;
  position: absolute;
  text-align: center;
  font-weight: bolder;
  background-color: #1AB385;
  margin: 0;
  width: 100%;
  clear: both;
  display: block;
  left: 0;
  right: 0;
  overflow: auto;
}